@font-face{font-family:'cardiff'; src:url("../fonts/CARDIF__.ttf")}
@font-face{font-family:'cardiff'; src:url("../fonts/CARDIF_B.ttf"); font-weight:bold}

body {
  font-family: 'cardiff';
  background-color: #555;
}
p {
  text-align: justify;
}
.outer {
  background-image: url('../paper.jpg');
  width: 98%;
  margin: auto;
  box-shadow: 0px 0px 30px #333;
}
h1 {
  font-weight: bold;
  font-size:70px;
  margin-bottom: 20px;
}
.paper-top {
  background-repeat: no-repeat;
  height:100px;
  width: 100%;
  margin: auto;
  background-image: url('../papertop.png');
  background-size: contain;
  background-position: top;

}
.paper-bottom {
  background-repeat: no-repeat;
  height:100px;
  width: 100%;
  margin: auto;
  background-image: url('../paperbottom.png');
  background-size: contain;
  background-position: top;
}
.nav {
  border-top:1px solid #333;
  border-bottom:1px solid #333;

}
