<html ng-app="game">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="grid.css" rel="stylesheet">
  <link href="assets/ui/css/clock.css" rel="stylesheet">
  <link href="main.css" rel="stylesheet">
  <link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">
  <link href="dropdown.css" rel="stylesheet">

  <link href="bower_components/tooltipster/css/tooltipster.css" rel="stylesheet">
</head>


<body ng-controller="gameController" class="">


  <popup ng-show="false">
    <sales>
      <div class="content">
        <h1>Sales</h1>
        <p>Printed: 60,333 units</p>
        <p>Units Bought: 53,012 units</p>
        <p>Audiance like: 42k</p>
        <p>Sales Gross: $44,987</p>
        <p>Audiance growth: +3k </p>


        <button ng-click="">Next Day!</button>

      </div>
    </sales>
  </popup>

  <popup ng-show="showPaper">
    <newspaper>
      <div class="content">
        <h1>{{currentPaper.headline}}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget dui metus. Nullam porttitor leo metus, ut porta felis aliquet ut. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam mattis neque arcu, ac venenatis neque finibus ac. Phasellus suscipit pulvinar lacus, eget ultrices felis fringilla sed. Curabitur eget nunc eget diam fermentum tempor non eget purus. Integer et accumsan arcu, scelerisque tempus mi. Maecenas ultricies ac eros non condimentum. Nam sagittis faucibus convallis. Morbi venenatis erat id aliquam pretium. Proin ut ante laoreet, ultrices elit a, gravida arcu. Suspendisse sagittis pellentesque est. Aliquam a mi lorem. In sem dui, pellentesque non lorem id, auctor ultricies lorem. Fusce et rutrum neque.</p>
        <button ng-click=""> To the presses! </button>

      </div>
    </newspaper>
  </popup>
  <popup ng-show="showArticles">

    <div class="headlines">
      <div ng-repeat="a in articles" class="content headlinepropose">

        <div class="header">
          <span>{{a.topic.label}} Headline by {{a.author.firstName}}</span>
        </div>
        <h3>Headline Proposal:
          <span class="handwrite">{{a.headline}}</span>
        </h3>

        <h3>Author:
          <span class="handwrite">{{a.author.firstName}} {{a.author.secondName}}</span>
        </h3>
        <h3>Topic:
          <span class="handwrite">{{a.topic.label}}</span>
        </h3>
        <h3>Draft:
        <span class="handwrite">{{a.draft}}</span>

        <h3>Quality:
          <progress value="{{a.quality}}" max="100"></progress>
        </h3>
        Political:
        <progress class="pol-left" value="{{a.politcal.right}} " max="100"></progress>
        <progress class="pol-right" value="{{a.politcal.left}} " max="100"></progress>

        <button ng-click="a.author.printArticle()">Print it!</button>
        <button ng-click="a.author.touchUp()">Touch it up</button>
        <button>Trash this</button>
      </div>
    </div>
  </popup>

  <popup ng-show="alert">
    <div class="content">
      <h1>Header 1</h1>
      <p>
        This is a notification! There has been an <b>problem</b> with <u>Reporter Name</u>. He has been shot at by a rouge
      </p>
      <button>OK</button>
      <button>Cancel</button>
    </div>
  </popup>


  <topbar>
    <div class="col-3-12">
      <div class="paperblock">
      </div>
      <div class="paper">
        <div class="content">
          <div class="inner">
            <h3>{{thepaper.name}}</h3>
          </div>
        </div>
      </div>
      &nbsp;

    </div>
    <div class="col-2-12">
      <div class="item">
        <div class="inner" style="white-space: nowrap;">
          <i class="fa fa-dollar"></i> {{thepaper.money.current | number}}
        </div>
      </div>
    </div>
    <div class="col-2-12">
      <div class="item">
        <div class="inner timecontrol">
          <i ng-click="pauseState(true)" class="fa fa-pause"></i>
          <i ng-click="pauseState(false)" class="fa fa-play"></i>

        </div>
      </div>
    </div>
    <div class="col-2-12">
      <div class="item">
        <div class="inner">
          <i class="fa fa-users"></i> {{thepaper.readers | number}}
        </div>
      </div>
    </div>
    <div class="col-3-12">
      <div class="item">
        <div class="inner">
          <i class="fa fa-circle"></i> {{thepaper.currentdate | date:'MMM yyyy'}}
        </div>
      </div>
    </div>

  </topbar>
  <sidebar>
    <div class="backgroundTabs">
    </div>
    <gradiant></gradiant>

    <contain>
      <reporter-tab class="reporters" ng-show="bottombar == 'reporters'"></reporter-tab>
      <audiance-tab class="audiance" ng-show="bottombar == 'audiance'"></audiance-tab>
      <objects-tab class="objects" ng-show="bottombar == 'research'"></audiance-tab>
    </contain>

  </sidebar>
  <div id="canvas-wrap">

    <div id="deskOptions" style="position:absolute; width:250px;height:100px;display:block;
      transform: translate(420px,31px);background:#D6C693; padding:10px;">
      Set Desk Type:
      <div dropdown-select="availableDesks" dropdown-item-label="label" dropdown-onchange="setDesk(selected)">
      </div>
      Current Reporter:
    </div>
    <canvas id="renderCanvas"></canvas>


  </div>


  <maingame>

    <desk ng-repeat="desk in audiance.topics">
      <notification ng-if="desk.reporter.article">
        <span>1</span>
      </notification>
      <span>
        {{desk.label}}
        <br> {{desk.reporter.firstName}} {{desk.reporter.secondName}}
      </span>
    </desk>

  </maingame>

  <notifications>

    <div class="proposals" ng-click="showArticles = true">
      <notification ng-show="articles.length">
        <span>{{articles.length}}</span>
      </notification>
    </div>

    <div class="newspaper-progress" ng-class="{'peek': peek}" ng-click="showPaper = true;">
      <div class="newspaper-progress-front" ng-style="clipProgress"></div>
    </div>

  </notifications>
  <bottombar>



    <div class="col-2-12">
      <div class="btn reporters-btn" ng-click="bottombar = 'reporters'" ng-class="{'active' : bottombar == 'reporters'}"></div>
    </div>
    <div class="col-2-12">
      <div class="btn audiance-btn" ng-click="bottombar = 'audiance'" ng-class="{'active' : bottombar == 'audiance'}"></div>
    </div>

    <div class="col-5-12">
      <img src="assets/ui/money_btn.png" style="width:74px;" />

      <clock></clock>
      <img src="assets/ui/menu_btn.png" style="width:74px;    position: absolute;
        top: 19px;
        left: 425px;" />


    </div>

    <div class="col-2-12">
      <div class="btn buy-btn" ng-click="bottombar = 'newspaper'"></div>
    </div>
    <div class="col-2-12">
      <div class="btn research-btn" ng-click="bottombar = 'research'"></div>
    </div>
  </bottombar>
</body>
<!-- Babylon.js -->
<script src="bower_components/handjs/hand.js"></script>

<script src="bower_components/babylonjs/babylon.2.1-beta.js"></script>
<script src="cannon.js"></script>
<script src="oimo.js"></script>

<script src="MersenneTwister19937.js"></script>

<script src="test3d.js"></script>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular-dropdowns/angular-dropdowns.js"></script>

<script src="bower_components/tooltipster/js/jquery.tooltipster.min.js"></script>
<script src="main.js"></script>

</html>
